<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form class="form-horizontal" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label>{{ form.password.label_tag }}</label>
                {{ form.password }}
            </div>
            {{ form.errors }}
            
            <input type="submit" value="Login">
        </form>
        
        <!-- <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
        
            {{ form.password.label_tag }}
            {{ form.password }}
        
            {{ form.errors }}
          
            <input type="submit" value="Login">
          </form> -->
    </div>
</body>
</html>

